build/bin
node_modules
frontend/dist
frontend/wailsjs
.idea
.vscode
third-party/windows-x64/
third-party/macos-universal/
third-party/vcpkg-root/
third-src/
vcpkg_installed/
vcpkg_installed_arm64/
vcpkg_installed_x64/
